*{
    font-family: sans-serif;
}

header > h1{
    font-family: serif;
    font-size: 30px;
    text-decoration: underline;
}
:is(h1, h2, h3, h4, h5, h6){
    margin-top: 20px;
    margin-bottom: 5px;
}

p{
    font-size: 12px;
    margin: 10px 0px;
    text-indent: 10px;
}



a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
  }
table {
    table-layout: fixed;
    border-spacing: 3px;
    border-radius: 4px;
    width: 600px;
}
tr:nth-child(odd){
    background-color: lightgray;
}

.haiku{
    text-align: center;
}

.portrait{
    float: right;
    border: 1px solid black;
}


.cs2300 {
    background-color: chartreuse;
}
.cs2370 {
    background-color: yellow;
}
.cs2550 {
    background-color: turquoise;
}
.math100R {
    background-color: pink;
}

.res-section {
    margin-top: 50px;
    margin-bottom: 75px;
}