a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

*{
    font-family: sans-serif;
}

.res-section {
	color:black;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
  }
  table {
    border-spacing: 3px;
  }

.cs2300 {
    background-color: chartreuse;
}
.cs2370 {
    background-color: yellow;
}
.cs2550 {
    background-color: turquoise;
}
.math100R {
    background-color: pink;
}